# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/packages
.idea
/chatter/bin
/Chatter.Tests/obj/Debug
/Chatter.Tests/Chatter.Presentation/obj/Debug
/Chatter.Tests/bin/Debug
/Chatter.Logic/obj/Debug
/Chatter.Data/obj/Debug
/Chatter/obj/Debug
/.vs
